.mat-table{
    border-radius: 1rem;
    overflow:hidden !important;
}

.mat-header-cell{
    background-color: #d5f3e6;
    text-align: center;
}
.mat-cell {
    text-align: center;
    background-color: #f5f3f3;
    color: #838282;
}
