<nav class="d-flex px-4 py-2 bg-dark justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button 
            [matMenuTriggerFor]="menu" 
            class="pointer border-0 bg-transparent text-white" 
            aria-label="Icon menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                [routerLink]="route.path"
                *ngFor="let route of routes" >
                <mat-icon>{{route.icon}}</mat-icon>
                <span>{{route.nameRoute}}</span>
            </button>
        </mat-menu>
        <a class="text-primary badge fs-3 text-decoration-none" 
            routerLink="/home">
            Pizza Planet
        </a>
    </div>
    <a *ngIf="!currentEmail"
        (click)="onClick('login')"        
        routerLink="/login" 
        type="button" 
        class="link-warning d-flex align-items-center">
        
        Iniciar sesión
    </a>
    <a *ngIf="currentEmail"
        (click)="onClick('logout')" 
        routerLink="/main-pizza" 
        type="button" 
        class="link-warning d-flex align-items-center">
        
        Logout
    </a>
</nav>
