<div *ngIf="currentRole === 'employee' || currentRole === 'admin'; else customer" class="h-100">
    <div class="container py-4 d-flex align-items-center h-100">
        <div class="d-flex bg-main shadow rounded-special w-100 h-100">
            <app-sidebar></app-sidebar>
            <div class="container px-4 scroll-y">
                
                <app-nav-location></app-nav-location>
                
                <router-outlet></router-outlet>
            </div>
                
        </div>
    </div>
</div>
<ng-template #customer>
    <app-navbar></app-navbar>
    <div class="container">
        <app-orders></app-orders>
        <router-outlet></router-outlet>
    </div>
</ng-template>


<!-- <pre>{{currentEmailLogin}}</pre> -->