.sidebar{
    width: 100px;
}
button{
    background: transparent;
    width: 80%;
    height: 65px;
    border-radius: 10px;
}

.photo-profile{
    width: 50px;
    border-radius: 50%;
}

.active{
    background: #34da94;
}

