<div class="container">
    
  <h2 class="m-0">Ofertas</h2>
  <app-slider></app-slider>

  <div class="overflow-hidden">
    <img src="../../../assets/img//Banner-especialidades-deluxe-2022.png" class="aa" alt="banner especialidades deluxe">
  </div>

  <app-slider-scroll [imgArray]="imgSliderArray"></app-slider-scroll>
  
  <div class="overflow-hidden">
    <img src="../../../assets/img/Banner-especialidades-clasicas.png" alt="banner especialidades clásicas">
  </div>

  <app-slider-scroll [imgArray]="imgSliderArray2"></app-slider-scroll>

  
  <div class="overflow-hidden">
    <img src="../../../assets/img/Banner-creatupizza.png" alt="banner especialidades clásicas">
  </div>
  <app-slider-scroll [imgArray]="imgSliderArray3"></app-slider-scroll>

  
</div>