::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    /*change color of label*/
    background-color: transparent;
    
} 


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.form-field-invalid .mat-form-field-hide-placeholder .ng-touched:focus{
    border: 5px solid red !important;
}